/*css vars*/
:root {
    --main-dark:#94778B;
    --main-light:#82D4BB;
    --light-text:white;
    --dark-text:black;
    --header-font:'Bungee', sans-serif;
    --logo-font: 'Oswald', sans-serif;
    --basic-padding: 30px;
    --basic-font:'Quicksand', sans-serif;
    --side-dark: #829298;
}


/*default css*/

body {
    margin:0;
    background-color: var(--main-light);
    font-family: var(--basic-font);
}

h1{
    color: var(--main-dark);
    font-family: var(--header-font);
}

header{
    background-color: var(--main-dark);
    font-size: 50px;
    font-family: var(--logo-font);
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    color: var(--light-text);
}

/*Header*/

header a{
    font-weight: bold;
    text-decoration: none;
}

header a:visited{
    color: var(--light-text);
}

header a:active{
    color:var(--main-light);
}

/*footer css*/

footer{
    text-align: center;
}


.splashBanner{
    width: 100%;
    height: 1000px;
    background-image: url("../img/ForestSplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:var(--light-text);
    font-family: var(--logo-font);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.splashBanner p{
    padding: var(--basic-padding);
    font-size: 200px;
}

.splashBanner a{
    text-decoration: none;
    font-family: var(--logo-font);
    color: var(--main-light);
    font-size: 100px;
    padding: var(--basic-padding)
}

.splashBanner a:active{
    color: var(--light-text);
}

footer{
    background-color: var(--main-dark);
    color: var(--light-text);
    padding: var(--basic-padding);
}

/*front page information grid*/

 .infoGrid{
    padding: var(--basic-padding);
    display: grid;
    grid-template-columns: 1fr 5fr 5fr 1fr;
    grid-template-rows: repeat(500px);
    gap: 50px;
 }

 .infoGrid img{
    height: 500px;
 }

 .infoGridRight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    grid-column-start: 3;
 }

 .infoGridLeft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-end;
    text-align: right;
    grid-column-start: 2;
 }

 .infoGrid h2{
    font-family: var(--logo-font);
    font-size: 50px;
    color: var(--main-dark);
 }

 .infoGrid p{
    font-family: var(--basic-font);
    font-size: 25px;
 }

 .infoGrid a{
    font-family: var(--logo-font);
    color: var(--side-dark);
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
 }
 .infoGridImg{
    width: 100%;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }

 .medievilCity{
    background-image: url("../img/City.jpg");
 }

 .waterfallPic{
    background-image: url("../img/waterfall.jpg");
 }

 .overgrownCastle{
    background-image: url("../img/overgrown-castle.jpg");
 }
 
/*Settlements*/

/*cards*/

.townCards{
    display: flex;
    height: 500px;
    justify-content: space-around;
}

.townCards div{
    display: flex;
    justify-content: center;
    font-family: var(--logo-font);
    font-size: 40px;
    color: var(--main-dark);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    margin: var(--basic-padding);
    border-radius: 25px;
}
h2.darkCard{
    color: var(--light-text);
}
.shadowspellCard{
    background-image: url("../img/overgrown-castle.jpg");
}
.shadowspellCard{
    color: var(--light-text)
}
.fairedgeCard{
    background-image: url("../img/City.jpg");
}
.tranmereCard{
    background-image: url("../img/ForestSplash.jpg");
}
/*Reactiveness*/

 @media only screen and (max-width: 1500px){
    .splashBanner p{
        font-size: 150px;
    }

    .townCards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 1000px;
    }
    .townCards div{
        width: 50%;
    }
 } 

 @media only screen and (max-width: 1250px){
    .splashBanner p{
        font-size: 100px;
    }
 }

 @media only screen and (max-width: 1000px){
    .splashBanner{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }

    .infoGrid{
        grid-template-columns: 100%;
    }
    
    .infoGridRight.infoGridImg{
        grid-row: 3;
    }

    .infoGridLeft{
        grid-column-start: 1;
    }
    .infoGridRight{
        grid-column-start: 1;
    }

    .townCards{
        display: flex;
        flex-direction: column;
    }
 }

 
