/*css vars*/
:root {
    --main-dark:#94778B;
    --main-light:#82D4BB;
    --light-text:white;
    --dark-text:black;
    --logo-font: 'Oswald', sans-serif;
    --basic-padding: 30px;
    --basic-font:'Quicksand', sans-serif;
    --side-dark: #829298;
    --main-darker:#6e5867;
    --main-light-bg: #82C09A;
}


/*default css*/
a{
    text-decoration: none;
    color: var(--light-text);
}

a:visited{
    color: var(--light-text);
}

html{
    scroll-behavior: smooth;
}

body {
    margin:0;
    background-color: var(--main-light);
    font-family: var(--basic-font);
}

h1{
    color: var(--main-dark);
    font-family: var(--logo-font);
    font-size: 50px;
}

p{
    font-family: var(--basic-font);
    font-size: 25px;
}

header{
    background-color: var(--main-dark);
    font-size: 50px;
    font-family: var(--logo-font);
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    color: var(--light-text);
}

h3{
    color: var(--side-dark);
    font-family: var(--logo-font);
    font-size: 50px;
}

/*Header*/

header a{
    font-weight: bold;
    text-decoration: none;
}

header a:visited{
    color: var(--light-text);
}

header a:active{
    color:var(--main-light);
}

/* Nav */

#hiddenLinks{
    display: flex;
    padding: 0px;
    overflow: hidden;
    transition: 0.5s;
    background-color: var(--main-dark);
    font-family: var(--logo-font);
    font-size: 30px;
    height: 0px;
}

#hiddenLinks a{
    padding: var(--basic-padding);
}

#hiddenLinks a:hover{
    background-color: var(--main-darker);
}

/*footer css*/

footer{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

footer i{
    font-size: 30px;

}

footer a{
    text-decoration: none;
  
}

footer a:visited{
    color: var(--light-text);
}

/*Booking Button*/

.booking{
    font-size: 50px;
    background-color: var(--side-dark);
    border-radius: 25px;
    border-color: var(--main-dark);
    padding: var(--basic-padding);
    font-family: var(--logo-font);
}

.booking:active{
    color:var(--main-light);
}

/*front page*/

/*splash banner*/

.splashBanner{
    width: 100%;
    height: 1000px;
    background-image: url("../img/ForestSplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:var(--light-text);
    font-family: var(--logo-font);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.splashBanner h1{
    padding: var(--basic-padding);
    font-size: 200px;
    color: var(--light-text);
    font-weight: normal;
}

.splashBanner a{
    text-decoration: none;
    font-family: var(--logo-font);
    color: var(--main-light);
    font-size: 100px;
    padding: var(--basic-padding)
}

.splashBanner a:active{
    color: var(--light-text);
}

footer{
    background-color: var(--main-dark);
    color: var(--light-text);
    padding: var(--basic-padding);
}

/*front page information grid*/

 .infoGrid{
    padding: var(--basic-padding);
    display: grid;
    grid-template-columns: 1fr 5fr 5fr 1fr;
    grid-template-rows: repeat(500px);
    gap: 50px;
 }

 .infoGrid img{
    height: 500px;
 }

 .infoGrid div:nth-of-type(odd){
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-end;
    text-align: right;
    grid-column-start: 2;
 }

 .infoGrid div:nth-of-type(even){
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    grid-column-start: 3;
 }

 .infoGrid h2{
    font-family: var(--logo-font);
    font-size: 50px;
    color: var(--main-dark);
 }

 .infoGrid a{
    font-family: var(--logo-font);
    color: var(--side-dark);
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
 }
 .infoGridImg{
    width: 100%;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
 }

 .placeholder{
    background-image: url("../img/guess-ill-die.png");
 }

 .medievilCity{
    background-image: url("../img/City.jpg");
 }

 .waterfallPic{
    background-image: url("../img/waterfall.jpg");
 }

 .overgrownCastle{
    background-image: url("../img/overgrown-castle.jpg");
 }
 
 .shadowspellSecondPic{
    background-image: url("../img/marketplace.jpg");
 }

 .shadowspellThirdPic{
    background-image: url("../img/shadowspell_3.jpg");
    background-position: 50% 80%;
 }

 .fairedgeSecondPic{
    background-image: url("../img/hunting-lodge.jpg");
 }

.fairedgeThirdPic{
    background-image: url("../img/deerSillohette.jpg");
    background-position: bottom;
}

 .silverwaldThirdPic{
    background-image: url("../img/books.jpg");
 }

 .tranmereSecondPic{
    background-image: url("../img/guardian-inn.jpg");
 }

/*Settlements page*/

/*cards*/

.townCards{
    display: flex;
    height: 500px;
    justify-content: space-around;
    padding: var(--basic-padding);
    gap: var(--basic-padding);
}

.townCards div{
    display: flex;
    justify-content: center;
    font-family: var(--logo-font);
    font-size: 40px;
    color: var(--light-text);
    width: 100%;
    border-radius: 25px;
    overflow: hidden;
}

.townCards div a:nth-of-type(2){
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    transition: ease 1s;
    text-decoration: none;
}

.townCards div a:nth-of-type(2):hover{
    transform: scale(1.2);
}

.townCards div a:first-of-type{
    position: absolute;
    z-index: 7;
}

h2.lightCard{
    color: var(--main-dark);
}
.shadowspellCard{
    background-image: url("../img/shadowspell.jpg");
}
.fairedgeCard{
    background-image: url("../img/City.jpg");
}
.tranmereCard{
    background-image: url("../img/tranmere.jpg");
}
.silverwaldCard{
    background-image: url("../img/silverwald.jpg");
}
.deepwickCard{
    background-image: url("../img/waterfall.jpg");
}
.norhurstCard{
    background-image: url("../img/norhurst.jpg");
}
.xindareCard{
    background-image: url("../img/xindare.jpg");
}
.lnaareCard{
    background-image: url("../img/mountain.jpg");
}

/*articles*/

.article{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: var(--basic-padding);
}

.article h1{
    font-size: 100px;
    text-align: center;
    background-color: var(--main-dark);
    border-radius: 25px;
    color: var(--light-text);
    align-self: stretch;
    margin: var(--basic-padding);
}
.article .infoGrid{
    align-self: stretch;
}

.article a{
    text-align: center;
}

/*booking page*/

.formSelect{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: var(--basic-padding);
}

.formSelect h1{
    grid-column: 2;
    justify-self: center;
}

.formSelect form{
    grid-column: 2;
    background-color: var(--main-light-bg);
    border-radius: 25px;
    overflow: hidden;
    padding: var(--basic-padding);
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

label{
    font-size: 25px;
}

input{
    padding: 5px;
    font-size: 25px;
    font-family: var(--basic-font);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    resize: none;
    width: calc(100% - 10px);
    overflow: hidden;
}

input[type=submit]{
    width: 500px;
}

select{
    padding: 5px;
    font-size: 25px;
    font-family: var(--basic-font);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    resize: none;
    width: 100%;
}

.dateSelect{
    display: grid;
    align-self: stretch;
    grid-template-columns: 1fr 1fr;
    gap: 0px 25px;
}

/*gallery*/
.gallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: var(--basic-padding);
    padding: var(--basic-padding);
    overflow: hidden;
    align-self: stretch;
}
.gallery div{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    border-radius: 25px;
}


/*Reactiveness*/

 @media only screen and (max-width: 1500px){
    .splashBanner h1{
        font-size: 150px;
    }

    .townCards{
        display: grid;
        padding: var(--basic-padding);
        grid-template-columns: 1fr 1fr;
        height: 1000px;
        gap: var(--basic-padding);
    }
    .townCards div{
        width: 100%;
    }
 } 

 @media only screen and (max-width: 1250px){
    .splashBanner h1{
        font-size: 100px;
    }
 }

 @media only screen and (max-width: 1000px){
    .splashBanner{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }

    .infoGrid{
        grid-template-columns: 100%;
    }
    
    .infoGrid div:nth-of-type(even).infoGridImg{
        grid-row: 3;
    }

    .infoGrid div:nth-of-type(odd){
        grid-column-start: 1;
    }
    .infoGrid div:nth-of-type(even){
        grid-column-start: 1;
    }


    .townCards{
        display: flex;
        flex-direction: column;
    }

    .townCards div{
        width: 100%;
        height: 200px;
    }

    .townCards h2{
        color: var(--light-text);
    }

    .article h1{
        font-size: 50px;
    }

    .gallery{
        grid-template-columns: 1fr;
    }

    #hiddenLinks{
        flex-direction: column;
        align-items: center;
    }

    .formSelect{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
 }

 @media only screen and (max-width: 750px){
    .infoGridImg{
        height: 250px;
    }
 }


