/*css vars*/
:root {
    --main-dark:#94778B;
    --main-light:#82D4BB;
    --light-text:white;
    --dark-text:black;
    --header-font:'Bungee', sans-serif;
    --logo-font: 'Oswald', sans-serif;
    --basic-padding: 30px;
}


/*default css*/

body {
    margin:0;
    background-color: var(--main-light);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: var(--main-dark);
    font-family: var(--header-font);
}

header{
    background-color: var(--main-dark);
    font-size: 50px;
    font-family: var(--logo-font);
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    color: var(--light-text);
}

/*Header*/

header a{
    font-weight: bold;
    text-decoration: none;
}

header a:visited{
    color: var(--light-text);
}

header a:active{
    color:var(--main-light);
}

/*footer css*/

footer{
    text-align: center;
}


.splashBanner{
    width: 100%;
    height: 1000px;
    background-image: url(https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:var(--light-text);
    font-family: var(--logo-font);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    font-size: 200px;
}

.splashBanner p{
    padding: var(--basic-padding);
}